
.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 2px;
  color: #406277;
  text-align: center;
  padding: 10px;
}

.Header {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #008281;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #FF3131;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}
