.Button {
  font: 1.3rem "Shadows Into Light", sans-serif;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  background-color: #008281!important;
  letter-spacing: 0.05rem;
  color: #fff;
}

.Button:hover {
  opacity: 0.8;
  background-color: #287cb3;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #406277!important;
}

.Button:active {
  background-color: #406277!important;
}

.Button:focus {
  background-color: #406277;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Red {
  background-color: #ff3131!important;
}