.Friendventure {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin: 5px 5px 15px 5px;
}

.Title {
  color: #008281;
  font: 1.5rem "Shadows Into Light", sans-serif;
}

.Icon {
  color: #f85032;
  margin-right: 3px;
}

.Icon:hover {
  color: #008281;
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  opacity: 0.8;
}

.IconGreen {
  color: #008281;
}

.Category {
  font: 1.3rem "Shadows Into Light", sans-serif;
  border-radius: 100px;
  border: 1px solid #008281;
  padding: 2px 5px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  max-width: fit-content;
  color: #406277;
  text-align: center;
}

.Date i {
  margin-right: 5px;
  color: #008281;
}

.Date {
  justify-items: center;
}

.SmallText {
  font-size: 0.75rem;
}

@media screen and (min-width: 576px) {
  .Friendventure {
    margin: 0 0 15px 0;
  }
}
