.NavBar {
    border-bottom: 1px solid #d9d9d9;
    box-shadow: 0 0 5px 0 #d9d9d9;
    
}

.NavLink {
    padding: 5px;
    color: blue;
}

.active i {
    color: #2F4858 !important;
}

.Logo {
    height: 4rem;
}
