.NavBar {
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 0 5px 0 #d9d9d9;
  background-color: #ffffff;
}

.NavLink {
  padding: 5px;
}

.NewActive i{
  color: #f1a99d!important;
}

.Logo {
  height: 4rem;
}

#dropdownMenu {
  margin-top: 2px;
}
