.ProfileImage {
  object-fit: cover;
  height: 120px;
  width: 120px;
  margin: 4px;
}

.Username {
  color: #008281;
  font-size: 1.5rem;
}

.EditProfile > div > i {
  border-radius: 2px;
  border: 1px solid #406277;
  padding: 3px 10px;
}

.SettingsLabel {
  font-size: 0.75rem;
  color: #406277;
}

@media screen and (max-width: 991px) {
  .ProfileImage {
    width: 250px;
    height: 250px;
  }
}
